export DATABASE_URL="postgresql://capstone_starter:capstone_starter@localhost:5432/capstone_starter_development"

JWT_SECRET="qwerty@qwerty"
JWT_EXPIRATION="24h"
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"
