export DATABASE_URL="postgresql://capstone_starter:capstone_starter@localhost:5432/capstone_starter_development"

export JWT_SECRET="qwerty@qwerty"
export JWT_EXPIRATION="24h"
export OPENAI_API_KEY=""
export OPENAI_MODEL="gpt-4o-mini"
